
@media screen and (max-width: 601px) {
   .bigScreen{
      display: none;
   }
   .section {
      width: 100%;
      background: #FFEBEB;
      
   }
   .header{
      /* padding: 3.47vw 4.26vw; */
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      align-items: center;
      row-gap: 3.47vw;
      justify-items: stretch;
      
   }
   .header p{
      padding-top: 3.47vw ;
      font-family: 'Nunito Sans',
      sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 3vw;
      line-height: 4.48vw;
      text-align: center;
      width: 100%;
      color: #5A5656;
   }
   .header .anchor {
      display: flex;
      justify-content: center;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 3.2vw;
      line-height: 140%;
      text-align: center;
      letter-spacing: -0.025em;
      -webkit-text-decoration:line;
            text-decoration:line;
      color: #FC3C3C;
   }
   .smallScreen{
      display: grid;
      grid-template-columns:  1fr auto;
      width: 100%;
      padding: 3.73vw 4.26vw;
      background-color: #fff;
      align-items: center;
      padding-bottom: 1.5vw;
   }
   .smallScreen a{
      text-decoration: none;
   }
   .smallScreen a img{
      width: 27.73vw;
      -o-object-fit: cover;
         object-fit: cover;
         margin:0 auto
   }
   .smallScreen button{
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
   }
   .smallScreen button img{
      width: 8.533vw;
      outline: none;
      -o-object-fit: cover;
         object-fit: cover;
   }
   .welcome{
      width: 91.46vw;
      margin: 0 auto;
      padding-top: 10.66vw;
   }
   .carousel{
      background: linear-gradient(116.02deg, rgba(90, 86, 86, 0.4) 0%, rgba(252, 60, 60, 0.2) 100.51%);
      mix-blend-mode: multiply;
      border-radius: 2.13vw;
      height: 85.3vw;
      position: relative;
      margin-bottom: 10.66vw;
   }
   .carousel img{
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      margin: 0 auto;
   }
   .carousel img:hover{
      opacity: 0.7;
   }
   .controls {
      position: absolute;
      width: 100%;
      right: 0;
      top:88% ;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
   .controls button{
      background: rgba(252, 60, 60, 0.2);
      border-radius: 2.13vw 0 0 0;
      outline: none;
      border: none;
      display: flex;
      width: 10.6vw;
      cursor: pointer;
      height: 10.6vw;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      transition: background .3s ease-in-out;
   }
   .controls button img{
      width: 5.33vw;
      height: 5.33vw;
      margin: 0 auto;
      padding: 0;
      -o-object-fit: cover;
         object-fit: cover;
   }
   .controls button.red{
      background: #FC3C3C;
      border-radius: 0px 0px 8px 0px;
   }
   .title{
      width: 91.46vw;
      margin: 0 auto;
      font-family: 'Merriweather',
      serif;
      font-style: normal;
      font-weight: 700;
      font-size: 8.53vw;
      line-height: 140%;
      /* letter-spacing: -0.025em; */
      color: #1F1F1F;
      margin-bottom: 8.53vw;
   }
   .title span{
      color: #FC3C3C;
   }
   .actions{
      width: 91.46vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 4.26vw;
         column-gap: 4.26vw;
      align-items: center;
      padding-bottom: 3.2vw;
   }
   .actions a{
      text-decoration: none;
      cursor: pointer;
      display: block;
      width: 45vw;
      background: #FC3C3C;
      box-shadow: 0px 1.6vw 8.5vw rgba(0, 0, 0, 0.25);
      border-radius: 2.13vw;
      padding: 4.26vw 0;
      color: #F4F4F4;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 3.73vw;
      line-height: 5.06vw;
      text-align: center;
      letter-spacing: -0.025em;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
   }
   .actions a:hover{
      opacity: .8;
   }
   .actions a.transparent {
      width: 37.87vw;
      border: 0.26vw solid #FC3C3C;
      -webkit-filter: drop-shadow(0 1.6vw 8.53vw rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 1.6vw 8.53vw rgba(0, 0, 0, 0.25));
      border-radius: 2.13vw;
      background-color: transparent;
      color: #FC3C3C;
   }
}
@media screen and (min-width: 602px) {
   .smallScreen {
      display: none;
   }
   .section {
      width: 100%;
      background: #FFEBEB;
   }
}